<!DOCTYPE HTML>
<head>
	<title> Craigslist </title>
</head>

<body>

	<form action='/register'  method='post'>
		<p> Enter your email </p>
		<input type='text' name='email'>
		<input type='submit' name'my-form' value='Send'>

	</form>

	<form method='post'>
		<p> category </p>
		<input type="text" name="category">
	</form>

	<form method='post'>
		<p> Select your state </p>
		<input type='radio' name='category' value='wto' > Auto Parts
		<input type='radio' name='category' value='ppa' > Appliances
		<input type='radio' name='category' value='boa' > Boats
		<input type='radio' name='category' value='cto' > Cars & Trucks <br> <br>
		<input type='radio' name='category' value='sys' > Computers
		<input type='radio' name='category' value='fua' > Furniture
		<input type='radio' name='category' value='jwa' > Jewelry

	</form>
